# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/taskone/.idea
/taskone/cmake-build-debug
/taskone/.idea
*.xml
taskone/.idea/editor.xml
taskone/cmake-build-debug/.cmake/api/v1/reply/index-2024-10-08T11-02-06-0274.json
taskone/output_images/report_images/negative.bmp
/taskone/output_images
/img
/taskone/cmake-build-release
taskone/image.bmp
